---
layout: portrait
title: ""
portrait: portrait_hat_tiling.jpg
portrait_alt: A mathematician standing at the intersection of streets named 'Oberlin' and 'College'
portrait_mobile: portrait_oberlin_college_thin.jpg
portrait_caption: Photo at MAA Mathfest where I helped assemble a large hat tiling.
---

<h2>About me</h2>
I am a visiting assistant professor at Oberlin College. I received my PhD from Dartmouth College advised by <a href="https://math.dartmouth.edu/~orellana/">Rosa Orellana</a>. My research is in combinatorial representation theory.


<table id="contact_info">
	<tr><td><h3 class="inline">E-Mail</h3> <span class="email" data-localpart="awilson6" data-domain="oberlin.edu"></span></td><td><h3 class="inline">Office</h3> King 204</td></tr>
</table>

<h2>Links</h2>
<h3>Courses</h3>
{% include current_courses.html %}

<h3>Other</h3>
<ul>
	<li><a href="{{ site.url }}/recommendations.html">Asking for <b>recommendation letters</b></a></li>
</ul>

<h2>Gallery</h2>
<div id="gallery">{% include gallery.html %}</div>