---
layout: default
title: Research
portrait: discrete_math_workshop.jpg
portrait_alt: A mathematician next to his slides showing a colorful matrix
portrait_mobile: discrete_math_workshop.jpg
portrait_caption: Taken by <a href="[roby]">Tom Roby</a> at the Discrete Math Day workshop at Smith College
---

I am primarily interested in algebraic combinatorics, which aims to answer questions about algebraic structures through the use of combinatorial objects like graphs or tableaux. In particular, I apply these techniques to the area of representation theory.

<!-- <h2>Selected Slides</h2>
<ul>
    <li>UW Milwaukee Colloquium Feb 14, 2025: Symmetries and Diagram Algebras [<a href="{{ site.url }}/assets/slides/2025.2.24 Milwaukee Colloquium.pdf" class="slides">slides</a>]</li>
    <li>UW Madison Combinatorics Seminar Jan 27, 2025: The Structure of Weyl Alternation Sets [<a href="{{ site.url }}/assets/slides/2025.1.27 UW Madison Seminar.pdf">slides</a>]</li>
    <li>AMS Eastern Fall Sectional 2024: Super Multiset RSK and a Mixed Multiset Partition Algebra [<a href="{{ site.url }}/assets/slides/EFS2024.pdf">slides</a>]</li>
    <li><a title="Spectra Survey of Math Conference" href="https://www.asc.ohio-state.edu/math/ssmc2024/">SSMC</a> Jun 6, 2024: Crystal Structures on Bitableaux (20min survey talk) [<a href="{{ site.url }}/assets/slides/2024.6.6 SSMC24.pdf">slides</a>]
    <li><a title="Graduate Online Combinatorics Colloquium" href="https://sites.google.com/view/gocc-combinatorics">GOCC</a> Feb 15, 2023: A Diagram-Like Basis for the Multiset Partition Algebra [<a href="https://www.youtube.com/watch?v=DezejWwhK7I&feature=youtu.be">video</a>] [<a href="{{ site.url }}/assets/slides/2023.2.15_GOCC_slides.pdf">slides</a>]</li>
    <li>JMM Jan 5, 2023: A Diagram-Like Basis for the Multiset Partition Algebra [<a href="{{ site.url }}/assets/slides/2023.1.5_jmm_slides.pdf">slides</a>]</li>
</ul> -->

<style>
.arxiv {
  font-weight: bold;
  color: #0085FF;
}

.slides {
  font-weight: bold;
  color: #FF9000;
}

.github {
  font-weight: bold;
  color: #90D300;
}

li {
  margin-bottom: .1in;
}
</style>

<h2>Publications, Preprints, and Selected Slides</h2>

<ol>
    {% for pub in site.data.publications reversed %}
    <li>{{pub.title}}
    {% if pub.collaborators%}(with {% for name in pub.collaborators %} <a href="{{site.data.people[name].url}}">{{site.data.people[name].fullname}}</a>{% endfor %}){% endif %}. {{pub.citation}}.
    {% if pub.arxiv%} [<a href="https://arxiv.org/abs/{{pub.arxiv}}" class="arxiv">arXiv:{{pub.arxiv}}</a>]{% endif %}
    {% if pub.pdf%} [<a href="{{ site.url }}/assets/documents/{{pub.pdf}}" class="arxiv">pdf</a>]{% endif %}
    {% if pub.github%} [<a href="{{pub.github}}" class="github">GitHub</a>]{% endif %}
    {% if pub.slides%} [<a href="{{ site.url }}/assets/slides/{{pub.slides.pdf}}" class="slides">Slides</a>, {{pub.slides.location}}]{% endif %}
    {% if pub.poster%} [<a href="{{ site.url }}/assets/slides/{{pub.poster.url}}" class="slides">Poster</a>, {{pub.poster.location}}]{% endif %}
  </li>
    {% endfor %}
</ol>
<h2>Pictures</h2>
<link rel="stylesheet" href="{{site.url}}/assets/carousel.css" />

<section>
    <div class="container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{{ site.url }}/assets/images/research/bitableau.png" alt="A lexicographic bitableau decomposed into three skew shapes.">
                        </div>
                        <figcaption>
                            A lexicographic bitableau decomposed into three skew shapes. This decomposition corresponds to a restriction of a $\mathfrak{gl}_{3\cdot2}$-crystal structure to a $\mathfrak{gl}_2$-crystal structure.
                            <span class="credit">From <a href="">Kronecker Coefficients, Crystals, and Bitableaux</a></span>                            
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{{ site.url }}/assets/images/research/alt_set_poset.png" alt="A poset illustrating a recursive structure of Weyl alternation sets in type A">
                        </div>
                        <figcaption>
                            A poset illustrating a recursive structure of Weyl alternation sets in type A
                            <span class="credit">From <a href="https://arxiv.org/abs/2412.16820">The support of Kostant's weight multiplicity formula is an order ideal in the weak Bruhat order</a></span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="{{ site.url }}/assets/images/research/kwmf_reviews.png" alt="">
                        </div>
                        <figcaption>
                            My coauthors' (facetious) reviews of Kostant's weight multiplicity formula. The study of the Weyl alternation set is meant to address the last comment about how large the Weyl groups are to sum over.
                            <span class="credit">From <a href="https://arxiv.org/abs/2412.16820">The support of Kostant's weight multiplicity formula is an order ideal in the weak Bruhat order</a></span>                            
                        </figcaption>
                    </figure>
                </li>
            </ul>    
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="{{ site.url }}/assets/images/research/bitableau_thumb.png" alt="A lexicographic bitableau."></label>
                </li>
                <li>
                    <label for="slide-2"><img src="{{ site.url }}/assets/images/research/alt_set_poset_thumb.png" alt="A poset illustrating a recursive structure of Weyl alternation sets in type A"></label>
                </li>
                <li>
                    <label for="slide-3"><img src="{{ site.url }}/assets/images/research/kwmf_reviews_thumb.png" alt="A facetious review of KWMF by Pamela E. Harris"></label>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- <div class="image-container">
  <figure>
    <a href="{{ site.url }}/assets/images/research/coloring_group.png"><img src="{{ site.url }}/assets/images/research/coloring_group.png" alt="A proper edge-coloring of a tree on 7 vertices along with the corresponding coloring group"></a>
    <figcaption>From <a href="https://arxiv.org/abs/2312.03092">Coloring Groups</a></figcaption>
  </figure>
  <figure>
    <a href="{{ site.url }}/assets/images/research/super_rsk.png"><img src="{{ site.url }}/assets/images/research/super_rsk.png" alt="An example of applying super RSK inserting a value into a tableau"></a>
    <figcaption>From <a href="https://arxiv.org/abs/2308.07238">Super Multiset RSK and a Mixed Multiset Partition Algebra</a></figcaption>
  </figure>
</div> 

<style>
.image-container {
  display: flex;
  justify-content: space-between; /* Spaces images evenly */
  align-items: center; /* Aligns images in the center */
  width: 100%;
  text-align: center; /* Centers captions */
}

.image-container figure {
  width: 32%; /* Adjust as needed */
  margin:0px;
}

.image-container img {
  width: 100%; /* Makes the image fill its container */
  height: auto; /* Maintain aspect ratio */
}

.image-container figcaption {
  margin-top: 8px; /* Adds spacing between image and caption */
  font-size: 14px;
  color: #555; /* Adjust color as needed */
}

/* Responsive Design: Stack images on small screens */
@media (max-width: 768px) {
  .image-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center images */
  }

  .image-container figure {
    width: 100%; /* Full width */
    max-width: 600px; /* Adjust max width for better scaling */
  }
}

</style> -->


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css" integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js" integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(document.body, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
              {left: '\\(', right: '\\)', display: false},
              {left: '\\[', right: '\\]', display: true}
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    });
</script>