---
layout: default
title: Teaching
portrait: portrait_teaching.jpg
portrait_alt: An instructor writing on a blackboard about rectangles of varying heights
portrait_mobile: portrait_teaching_mobile.jpg
portrait_caption: Taken by <a href="https://www.thedartmouth.com/article/2021/11/professors-find-greater-student-engagement-with-in-person-teaching">Beam Lertbunnaphongs for The Dartmouth</a>
---
<h3>Current/Upcoming Courses:</h3>
    {% include current_courses.html %}

<h3>Past courses:</h3>
<ul>
    <li>Oberlin Fall 2024: <a><b>Math 133</b></a> Calculus I </li>
    <li>Oberlin Spring 2024: <a><b>Math 133</b></a> Calculus I </li>
    <li>Oberlin Fall 2023: <a><b>Math 220</b></a> (Section 03) Discrete Mathematics </li>
    <li>Oberlin Fall 2023: <a><b>Math 234</b></a> (Sections 01 and 02) Differential Equations </li>
    <li>Dartmouth Fall 2022: <a href="https://math.dartmouth.edu/~m22f22/"><b>Math 22</b></a> Linear Algebra with Applications</li>
    <li>Dartmouth Fall 2021: <a href="https://canvas.dartmouth.edu/courses/48609"><b>Math 3</b></a> Calculus</li>
    <li>Dartmouth Fall 2020: <a href="https://math.dartmouth.edu/~m1f20"><b>Math 1</b></a> Calculus with Algebra</li>
</ul>

<br />

<div id="gallery">{% assign tags = "Teaching Tools" | split: "," %}

{% for tag in tags %}
    {% assign posts = site.gallery | where: "tag", tag %}

    <div class="mini gallery header {{tag}}"><p>{{tag}}:</p></div>

    {% for post in posts %}
        <div class="mini gallery {{tag}}">
          <a href="{%if post.external != nil %} {{ post.external }} {%else%} {{ post.url }} {%endif%}" class="image">
            <img src="{{ site.domain }}/assets/images/thumbnails/{{ post.thumbnail }}" alt="{{ post.thumbnail_alt }}" width="600" height="400">
            <div class="title">{{ post.title }}</div>
          </a>
          <div class="desc">{{ post.blurb }}</div>
        </div>
    {% endfor %}
{% endfor %}</div>