---
title: Homework Check
layout: bare

hws:
 - name: 1
   problems:
    - n: Additional Problem 1 (a)
      a: $83.75/unit
    - n: Additional Problem 2 (a)
      a: 0m/s
    - n: Additional Problem 2 (b)
      a: -10m/s
    - n: 2.2.30
      a: \(\begin{array}{c|c}x&f(x)\\\hline
         0.9&-1.9\\
         0.99&-1.99\\
         0.999&-1.999\\
         0.9999&-1.9999\\
         1.1&2.1\\
         1.01&2.01\\
         1.001&2.001\\
         1.00001&2.0001\end{array}\)
    - n: 2.2.31
      a: <img alt="A clip from the (original) Mean Girls movie where Cady exclaims that the limit does not exist." src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnQ3eGp0MGFlemFhMGlkNWNxNDExcHBqNmNyNWt4NGFudmJkOTdscyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2YWF00ZX8wOs0p0s/giphy.gif" />
    - n: 2.2.35
      a: \(\lim_{x\to0}\frac{\sin(2x)}{x}=2\)
    - n: 2.2.36
      a: \(\lim_{x\to0}\frac{\sin(3x)}{x}=3\)
    - n: 2.2.46
      a: "True"
    - n: 2.2.47
      a: "False"
    - n: 2.2.48
      a: "False"
    - n: 2.2.49
      a: "False"
 - name: 2
   problems:
    - n: 2.4.131
      a: Infinite discontinuity at \(x=0\)
    - n: 2.4.132
      a: No discontinuities
    - n: 2.4.133
      a: Removable discontinuity at \(x=0\) and infinite discontinuity at \(x=1\)
    - n: 2.4.135
      a: Infinite discontinuity at \(x=\ln(2)\)
    - n: Additional Problem 1(a)
      a: \(\frac{x(x-1)}{(x-1)(x+\sqrt{x})}\)
    - n: Additional Problem 1(b)
      a: \(\frac12\)
    - n: 2.3.96
      a: 2
    - n: 2.3.97
      a: 6
    - n: 2.3.102
      a: \(\frac{1}{2}\)
    - n: 2.3.104
      a: Limit goes to positive infinity
    - n: 2.3.112
      a: 36
    - n: 2.3.114
      a: 30
 - name: 3
   problems:
    - n: 2.3.86
      a: 64
    - n: 2.3.87
      a: 49
    - n: 2.3.88
      a: 15
    - n: 2.3.89
      a: 1
    - n: 2.3.118
      a: 0
    - n: 2.3.120
      a: <i>approximately</i> -1
    - n: 2.3.121
      a: 1
    - n: Additional Problem 1 (a)
      a: Where does \(f(x)\) have a discontinuity?
    - n: Additional Problem 1 (b)
      a: \(\lim_{x\to0^-}\sqrt{f(x)+2}=1\), \(\lim_{x\to0^+}\sqrt{f(x)+2}=\sqrt{3}\)
    - n: Additional Problem 1 (c)
      a: Again, the key is where \(f(x)\) does or <i>doesn't</i> have a discontinuity.
    - n: 3.1.38(c)
      a: -3
    - n: 3.1.39
      a: \(f'(1)\approx1.25, f'(6)\approx0.5\)
    - n: 3.2.65
      a: (Check the back of the book)
    - n: 3.2.67
      a: (Check the back of the book)
    - n: 3.2.68
      a: \(f(x)=x^{2/3}\), \(a=1\)
    - n: 3.2.69
      a: \(f(x)=3x^2+2\), \(a=2\)
    - n: 3.2.75
      a: Limits from left and right are 0 and 3 respectively
    - n: 3.2.76
      a: Limits from left and right are -2 and 1 respectively
    - n: 3.2.78
      a: (a) \(x=4\), (b) None
    - n: 3.2.79
      a: (a) \(x=1\), (b) \(x=2\)
    - n: 3.2.90
      a: (a) should be an average rate of change and (b) should  be an instantaneous rate of change
    - n: Additional Problem 2 (a)
      a: \(f'(-1)=-1, f'(0)\text{ DNE}, f'(1)=1\)
    - n: Additional Problem 2 (b)
      a: The limit does not exist
    - n: Additional Problem 2 (c)
      a: Jump discontinuity
 - name: 4
   problems:
    - n: 3.3.107
      a: \(15x^2-1\)
    - n: 3.3.108
      a: \(8x-7\)
    - n: 3.3.111
      a: \(3(18x^4+\frac{13}{x+1})+3x(72x^3-\frac{13}{(x+1)^2})\)
    - n: 3.3.112
      a: \(6x^2+8x-3\)
    - n: 3.3.115
      a: \(\frac{(12x^2-2)x^2-2x(4x^3-2x+1)}{x^4}\)
    - n: 3.3.116
      a: \(\frac{-16x}{(x^2-4)^2}\)
    - n: 3.3.137
      a: \(y=-7x-3\)
    - n: 3.3.138
      a: \(\frac{255}{16}x-73\)
    - n: 3.3.142(a)
      a: \(x=-1,\frac13\)
    - n: 3.3.142(b)
      a: \(x=0,x=\frac{-2}{3}\)
    - n: 3.3.148
      a: \(C'(2)=\frac{-1}{4}\)
    - n: 3.4.153 (a)
      a: 464 ft/s
    - n: 3.4.153 (b)
      a: -32 ft/s
    - n: 3.4.154 (a)
      a: \(\approx 1.766\) seconds
    - n: 3.4.154 (b)
      a: -64.512 ft/s
    - n: Additional Problem 1
      a: Hint&mdash;everything in the numerator of your difference quotient should cancel
    - n: Additional Problem 2
      a: Many possible answers, but if you're feeling stuck, try to consider what happens when \(f(x)=g(x)\) are the same function
 - name: 5
   problems:
    - n: Additional problem 1
      a: You should have a simplification like \(-\sin^2(x)-\cos^2(x)=-1\).
    - n: 3.5.176
      a: \(\frac{dy}{dx}=-3\csc(x)\cot(x)-5x^{-2}\)
    - n: 3.5.177
      a: \(\frac{dy}{dx}=2x\cot(x)-x^2\csc^2(x)\)
    - n: 3.5.178
      a: \(y'=1-(3x^2\sin(x)+x^3\cos(x))\)
    - n: 3.5.179
      a: \(y'=\frac{x\sec(x)\tan(x)-sec(x)}{x^2}\)
    - n: 3.6.217
      a: \(\frac{1}{8}\sin\left(\frac{-x}{8}\right)\)
    - n: 3.6.218
      a: \(9\sec^2(9x+2)\)
    - n: 3.6.221
      a: \(18x(3x^2+1)\)
    - n: 3.6.222(b)
      a: \(5\sin^4(x)\cos(x)\)
    - n: 3.6.223
      a: \(7\left(\frac{x}{7}+\frac{7}{x}\right)^6\left(\frac{1}{7}-\frac{7}{x^2}\right)\)
    - n: 3.6.229
      a: \(4(5-2x)^{-3}\)
    - n: 3.6.230
      a: \(-3\pi\cos^2(\pi x)\sin(\pi x)\)
    - n: 3.6.231
      a: \(3(2x^3-x^2+6x+1)^2(6x^2-2x+6)\)
    - n: 3.6.232
      a: \(-2(\sin(x))^{-3}\cos(x)\)
    - n: 3.6.238
      a: \(f(1)=\pm\sqrt{\frac{10}{12}}\) <b>or</b> \(f(1)=\frac{10}{8}\). This question received errata changing the cube to a square, and the PDF version of the textbook doesn't have the update.
    - n: 3.6.239
      a: \(f'(-1)=\frac{43}{4}\)
    - n: 3.6.253(a)
      a: \(\approx-0.5831m/s\)
    - n: 3.6.253(b)
      a: \(\approx0.2499m/s^2\)
    - n: 3.6.253(c)
      a: It's slowing down (think about the relationship between the sign of the first and second derivatives)
    - n: 3.6.255(a)
      a: \(C'(x)=0.0003x^2-0.04x+3\)
    - n: 3.6.255(b)
      a: \(\frac{dC}{dt}=0.03(1600+100t)^2-4(1600+100t)+300\)
    - n: 3.6.255(c)
      a: $90,300/week
    - n: 3.7.281
      a: \(\frac{-x^{-2}}{\left|\frac{1}{x}\right|\sqrt{\left(\frac{1}{x}\right)^2-1}}=\frac{-1}{\sqrt{1-x^2}}\)
 - name: 6
   problems:
    - n: Additional Problem 1
      a: \(\approx 738.3cm^3/s\)
    - n: 3.8.300
      a: \(\frac{dy}{dx}=\frac{x}{y}\)
    - n: 3.8.301
      a: \(\frac{dy}{dx}=\frac{-2x}{y}\)
    - n: 3.8.304
      a: \(\frac{dy}{dx}=\frac{-y(1+\sin(xy))}{x(1+\sin(xy))}=\frac{-y}{x}\)
    - n: 3.8.305
      a: \(\frac{dy}{dx}=\frac{y-\frac12y(x+4)^{\frac{-1}{2}}}{\sqrt{x+4}-x}\)
    - n: 3.8.318
      a: (6,3), (-6,3), (12,-3), (-12,-3)
    - n: 3.8.322
      a: \(y''=\frac{(-1-3y')(3x-2y)-(-x-3y)(3-2y')}{(3x-2y)^2}\)
    - n: 3.9.334
      a: \(f'(x)=\frac{e^{2x}+1}{\sqrt{e^{2x}+2x}}\)
    - n: 3.9.335
      a: \(f'(x)=\frac{(e^x+e^{-x})^2-(e^x-e^{-x})^2}{(e^x+e^{-x})^2}=\frac{4}{(e^x+e^{-x})^2}\)
    - n: 3.9.337
      a: \(f'(x)=4\cdot2^{4x}\ln(2)+8x\)
    - n: 3.9.340
      a: \(f'(x)=\frac{12x^2+1}{4x^3+x}\)
    - n: 3.9.342
      a: \(f'(x)=2x\ln(9x)+x\)
    - n: 3.9.344
      a: \(f'(x)=\frac{1}{\ln(7)}\frac{40x^3}{2x^4+1}\)
    - n: Additional Problem 2 (i)
      a: \(\ln(y)=x\ln(x)\)
    - n: Additional Problem 2 (ii)
      a: \(\frac{1}{y}\frac{dy}{dx}=\ln(x)+1\)
    - n: Additional Problem 2 (iii)
      a: \(\frac{dy}{dx}=x^x\ln(x)+x^x\)
 - name: 7
   problems:
    - n: 4.1.5
      a: \(2\sqrt{3}\)ft/s
    - n: 4.1.7
      a: 390mph
    - n: 4.1.20
      a: \(1600\pi m^3/s\)
    - n: 4.1.30
      a: \(\frac23\)m/min
    - n: 4.2.50
      a: \(L(x)=x\)
    - n: 4.2.52
      a: \(L(x)=2x-\frac{\pi}{2}+1\)
    - n: 4.2.68
      a: \(dy=(12x^3+2x-2)dx\)
    - n: 4.2.69
      a: \(dy=(\cos(x)-x\sin(x))dx\)
    - n: 4.2.84
      a: \(\Delta V\approx\pm 31.42mm^3\)
    - n: Additional Problem 1(a)
      a: \(L(x)=1\)
    - n: Additional Problem 1(b)
      a: \(Q(x)=1-\frac{1}{2}x^2\)
    - n: Additional Problem 1(c)
      a: Your graph should look like <a href="https://www.desmos.com/calculator/wfp0p9vlxs">this Desmos page</a>
 - name: 8
   problems:
    - n: Additional Problem 1
      a: There are many, many possible answers, but <a href="https://www.desmos.com/calculator/xlj1vo02pw">this Desmos page</a> has the three I thought of
    - n: 4.3.108
      a: \(x=\pm\frac{1}{2}\)
    - n: 4.3.110
      a: \(x=1\)
    - n: 4.3.112
      a: \(x=\frac{\pi}{2}+k\pi\) for any integer \(k\)
    - n: 4.3.118
      a: Global max of 19 at \(x=4\) and global min of 3 at \(x=0\)
    - n: 4.3.120
      a: Global max of 4 at \(x=-1\) and global min of 0 at \(x=0,1\)
    - n: 4.3.122
      a: Global max of \(\sqrt{8}\) at \(x=1\) and global min of 0 at \(x=9\)
    - n: 4.5.198
      a: Many possible solutions, but if you're getting stuck, draw some discontinuities where the derivative is positive on one side but negative on the other.
    - n: 4.5.201
      a: Increasing \((-2,-1), (2,\infty)\), Decreasing \((-\infty,-2), (-1,2)\)
    - n: 4.5.202
      a: Increasing\ \((-2,0), (1,\infty)\), Decreasing \((-\infty,-2), (0,1)\)
    - n: 4.5.225a
      a: Increasing \((-\infty,0), (4,\infty)\), Decreasing \((0,4)\)
    - n: 4.5.225b
      a: Local min \(x=0\), local max \(x=4\)
    - n: 4.5.225c
      a: Concave up \((2,\infty)\), Concave down \((-\infty,2)\) * Your explanation should include taking a derivative!
    - n: 4.5.225d
      a: Inflection point \(x=2\) * Your explanation should include taking a derivative!
    - n: 4.6.252
      a: \(x=-3,2\)
    - n: 4.6.254
      a: \(x=0,1,2\)
    - n: 4.6.256
      a: Plugging in \(a=-1\) gives an indeterminate form, so you should factor and cancel terms from the top and bottom. At the end, you should get a finite limit at -1, so there is <b>no asymptote</b>.
    - n: 4.6.260
      a: Plugging in \(a=1\) gives a finite value, so there is <b>no asymptote</b>.
    - n: 4.6.294
      a: Some data you should compute and take into consideration&mdash;local min at \(x=-1/3\), always concave up, end behavior goes to \(\infty\) on both sides.
 - name: 9
   problems:
    - n: 4.6.262
      a: \(\frac{1}{2}\)
    - n: 4.6.263
      a: \(\infty\)
    - n: 4.6.271
      a: Vertical asymptote at \(x=0\) and no horizontal asymptotes
    - n: 4.6.273
      a: Vertical asymptotes at \(x=\pm2\) and no horizontal asymptotes
    - n: 4.6.285
      a: Many possible answers, but your function should have a denominator that's zero when \(x=1\) and the limit as \(x\to\pm\infty\) should be 2.
    - n: 4.6.287
      a: Many possible answers, but your function should have a denominator that's zero when \(x=-1\) and the limit as \(x\to\pm\infty\) should be 4.
    - n: 4.7.316
      a: The box with the largest volume is about \(0.423\times1.174\times3.174\) meters
    - n: 4.7.320
      a: The enclosure with the largest area is \(200\times400\) feet
    - n: 4.7.322
      a: For the shortest length, the wire should be anchored 10 feet from the shorter pole (called the "second" pole in the problem for some reason 🙄)
    - n: 4.7.324
      a: 90bpm
    - n: 4.7.325
      a: 84bpm
    - n: 4.7.333
      a: The profit is maximized with four pizzas
 - name: 10
   problems:
    - n: 4.10.466
      a: Take the derivative of \(F(x)\) and compare with \(f(x)\)
    - n: 4.10.467
      a: Take the derivative of \(F(x)\) and compare with \(f(x)\)
    - n: 4.10.470
      a: \(F(x)=-x^{-1}+\frac12x^2+c\)
    - n: 4.10.472
      a: \(F(x)=e^x+\frac32x^2-\frac13x^3+c\)
    - n: AP1a
      a: You should have 6(\(=\frac{12}{2}\)) pairs that sum to 13.
    - n: AP1b(i)
      a: This is a property we talked about in class&mdash;you can sum from 1 to 12, then sum from 13 to 13 (that is, just add 13 on at the end)
    - n: AP1b(ii)
      a: A good way to see why it works in general is to first write 13 as 12+1, then find a common denominator.
    - n: 5.1.8
      a: 184,000
    - n: 5.1.9
      a: 40,375
    - n: 5.1.10
      a: 935
    - n: 5.1.14
      a: \(\approx0.597\)
    - n: 5.1.16
      a: \(f(-1)+f(0)+f(1)+f(2)=\frac{11}{5}\)
    - n: 5.1.17
      a: \(f(-2)+f(-1)+f(0)+f(1)=\frac{11}{5}\)
    - n: 5.1.24
      a: \(\sum\limits_{i=0}^{29}(1+\frac{1}{30}i)^2\frac{1}{30}\)
    - n: 5.1.27
      a: \(\sum\limits_{i=1}^{100}\ln(1+i\frac{e-1}{100})\frac{e-1}{100}\)
 - name: 11
   problems:
    - n: 5.3.148
      a: \(e^{-x^2}\)
    - n: 5.3.54
      a: \(\sqrt{1-\sin^2(x)}\cos(x)\)
    - n: 5.3.170
      a: \(\frac{-3}{2}\)
    - n: 5.3.171
      a: \(\frac{-35}{6}\)
    - n: 5.3.175
      a: \(\frac{1}{100}\)
    - n: 5.3.180
      a: \(\frac{1}{2}\)
    - n: 5.3.183
      a: 1
    - n: 5.4.223
      a: 4m
    - n: 5.4.224
      a: 90m
    - n: 5.4.227
      a: \(v(t)=-9.8t+40, h(t)=-4.9t^2+4ot+1.5\)
    - n: 5.5.261
      a: \(\frac{1}{5}(x+1)^5+c\)
    - n: 5.5.265
      a: \(\sqrt{x^2+1}+c\)
    - n: 5.5.266
      a: \(\sqrt{1-x^2}+c\)
    - n: 5.5.273
      a: \(\frac{-1}{22}(11x-7)^{-2}+c\)
    - n: 5.5.276
      a: \(\frac{1}{8}\sin^8(\theta)+c\)
    - n: 5.5.280
      a: \(\frac{-1}{9}\cos^3(t^3)+c\)
    - n: 5.5.292
      a: \(\frac{1}{3}\)
    - n: 5.5.293
      a: \(\sqrt{2}-1\)
    - n: 5.5.294
      a: \(3-\sqrt{5}\)
    - n: 5.6.329
      a: \(\frac{-1}{\ln(x)}+c\)
    - n: 5.6.336
      a: \(\frac{-1}{2}e^{-x^2}\)
    - n: 5.6.338
      a: \(e^{\sin(x)}+c\)
---

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

<style>
	.answer {
		display: none;
	}

	.answer.shown {
		display: block;
	}

	button.hidden {
		display: none;
	}


	li {
		margin-bottom: 5px;
	}

	button:hover {
		cursor: pointer;
	}

	ul {
		list-style: none;
	}
</style>

Below, you can check your homework answers <b>after you have attempted the problem yourself</b>. Of course, your submission should include a <b>full explanation</b> and not just the final answer. The purpose of this page is only to give you feedback as quickly as possible to see if you need to review your work or see me or QUAILs at student hours or CLEAR tutoring sessions. The buttons will ask you to click twice to confirm you want to show the answer.

{% for hw in page.hws %}
<h3>Problem Set {{hw.name}}</h3>
<ul>
	{% for prob in hw.problems %}
		<li>
			<b>{{prob.n}}:</b> <button>Show Answer</button>
			<span class="answer">{{prob.a}}</span>
		</li>
	{% endfor %}
</ul>
{% endfor %}

<script>
	var buttons = document.getElementsByTagName("button");

	for (var i = 0; i < buttons.length; i++) {
		buttons[i].onclick = function () {
			if (this.classList.contains("activated")) {
				this.classList.add("hidden");
				this.parentElement.getElementsByTagName("span")[0].classList.add("shown");
			} else {
				this.classList.add("activated");
				this.innerHTML += " <b>(Click again if you promise you tried it first)</b>";
			}
		}
	}
</script>