---
title: Homework Check
layout: bare

hws:
 - name: 1
   problems:
    - n: Additional Problem 1 (a)
      a: $83.75/unit
    - n: Additional Problem 2 (a)
      a: 0m/s
    - n: Additional Problem 2 (b)
      a: -10m/s
    - n: 2.2.30
      a: \(\begin{array}{c|c}x&f(x)\\\hline
         0.9&-1.9\\
         0.99&-1.99\\
         0.999&-1.999\\
         0.9999&-1.9999\\
         1.1&2.1\\
         1.01&2.01\\
         1.001&2.001\\
         1.00001&2.0001\end{array}\)
    - n: 2.2.31
      a: <img alt="A clip from the (original) Mean Girls movie where Cady exclaims that the limit does not exist." src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnQ3eGp0MGFlemFhMGlkNWNxNDExcHBqNmNyNWt4NGFudmJkOTdscyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l2YWF00ZX8wOs0p0s/giphy.gif" />
    - n: 2.2.35
      a: \(\lim_{x\to0}\frac{\sin(2x)}{x}=2\)
    - n: 2.2.36
      a: \(\lim_{x\to0}\frac{\sin(3x)}{x}=3\)
    - n: 2.2.46
      a: "True"
    - n: 2.2.47
      a: "False"
    - n: 2.2.48
      a: "False"
    - n: 2.2.49
      a: "False"
    - n: 2.4.131
      a: Infinite discontinuity at \(x=0\)
    - n: 2.4.132
      a: No discontinuities
    - n: 2.4.133
      a: Removable discontinuity at \(x=0\) and infinite discontinuity at \(x=1\)
    - n: 2.4.135
      a: Infinite discontinuity at \(x=\ln(2)\)
 - name: 2
   problems:
    - n: 3.1.33
      a: (b) 5, (c) \(y=5x+10\)
    - n: 3.1.34
      a: (b) 1, (c) \(y=x-\pi\)
    - n: 3.1.38(c)
      a: -3
    - n: 3.1.39
      a: \(f'(1)\approx1.25, f'(-1)\approx0.5\)
    - n: Additional Problem 1 (a)
      a: \(f'(-1)=-1, f'(0)\text{ DNE}, f'(1)=1\)
    - n: Additional Problem 1 (b)
      a: The limit does not exist
    - n: Additional Problem 1 (c)
      a: Jump discontinuity
    - n: 2.3.96
      a: 2
    - n: 2.3.97
      a: 6
    - n: 2.3.104
      a: \(\infty\)
    - n: 2.3.112
      a: 36
    - n: 2.3.114
      a: 30
    - n: 2.3.127
      a: Choose \(-\theta^2\) for your function below and \(\theta^2\) for your function above to get a final limit of zero.
    - n: 3.1.22
      a: -7
    - n: 3.1.24
      a: 5
    - n: 3.1.26
      a: \(\frac14\)
    - n: 3.2.58
      a: \(5-2x\)
    - n: 3.2.60
      a: \(\frac{1}{2\sqrt{x-6}}\)
 - name: 3
   problems:
    - n: 2.3.86
      a: 64
    - n: 2.3.87
      a: 49
    - n: 2.3.88
      a: 15
    - n: 2.3.89
      a: 1
    - n: 2.3.118
      a: 0
    - n: 2.3.120
      a: <i>approximately</i> -1
    - n: 2.3.121
      a: 1
    - n: Additional Problem 1 (a)
      a: Where does \(f(x)\) have a discontinuity?
    - n: Additional Problem 1 (b)
      a: \(\lim_{x\to0^-}\sqrt{f(x)+2}=1\), \(\lim_{x\to0^+}\sqrt{f(x)+2}=\sqrt{3}\)
    - n: Additional Problem 1 (c)
      a: Again, the key is where \(f(x)\) does or <i>doesn't</i> have a discontinuity.
    - n: 2.4.150
      a: Where does \(h(x)\) have a discontinuity?
    - n: 2.4.153
      a: The IVT does guarantee a solution in the first interval \([1.25,1.375]\) but not the second.
    - n: 3.2.78
      a: (a) \(x=4\), (b) None
    - n: 3.2.79
      a: (a) \(x=1\), (b) \(x=2\)
    - n: 3.2.82
      a: 8
    - n: 3.2.68
      a: \(f(x)=x^{2/3}\), \(a=1\)
    - n: 3.2.69
      a: \(f(x)=3x^2+2\), \(a=2\)
    - n: 3.2.75
      a: Limits from left and right are 0 and 3 respectively
    - n: 3.2.76
      a: Limits from left and right are -2 and 1 respectively
 - name: 4
   problems:
    - n: 3.3.107
      a: \(15x^2-1\)
    - n: 3.3.108
      a: \(8x-7\)
    - n: 3.3.111
      a: \(3(18x^4+\frac{13}{x+1})+3x(72x^3-\frac{13}{(x+1)^2})\)
    - n: 3.3.112
      a: \(6x^2+8x-3\)
    - n: 3.3.115
      a: \(\frac{(12x^2-2)x^2-2x(4x^3-2x+1)}{x^4}\)
    - n: 3.3.116
      a: \(\frac{-16x}{(x^2-4)^2}\)
    - n: 3.3.137
      a: \(y=-7x-3\)
    - n: 3.3.138
      a: \(\frac{255}{16}x-73\)
    - n: 3.3.142(a)
      a: \(x=-1,\frac13\)
    - n: 3.3.142(b)
      a: \(x=0,x=\frac{-2}{3}\)
    - n: 3.3.148
      a: \(C'(2)=\frac{-1}{4}\)
    - n: 3.4.153 (a)
      a: 464 ft/s
    - n: 3.4.153 (b)
      a: -32 ft/s
    - n: 3.4.154 (a)
      a: \(\approx 1.766\) seconds
    - n: 3.4.154 (b)
      a: -64.512 ft/s
    - n: 3.5.176
      a: \(\frac{dy}{dx}=-3\csc(x)\cot(x)-5x^{-2}\)
    - n: 3.5.177
      a: \(\frac{dy}{dx}=2x\cot(x)-x^2\csc^2(x)\)
    - n: 3.5.178
      a: \(y'=1-(3x^2\sin(x)+x^3\cos(x))\)
    - n: 3.5.179
      a: \(y'=\frac{x\sec(x)\tan(x)-sec(x)}{x^2}\)
    - n: Additional problem 1
      a: You should have a simplification like \(-\sin^2(x)-\cos^2(x)=-1\).
 - name: 5
   problems:
    - n: 3.6.217
      a: \(\frac{1}{8}\sin\left(\frac{-x}{8}\right)\)
    - n: 3.6.218
      a: \(9\sec^2(9x+2)\)
    - n: 3.6.221
      a: \(18x(3x^2+1)\)
    - n: 3.6.222(b)
      a: \(5\sin^4(x)\cos(x)\)
    - n: 3.6.223
      a: \(7\left(\frac{x}{7}+\frac{7}{x}\right)^6\left(\frac{1}{7}-\frac{7}{x^2}\right)\)
    - n: 3.6.229
      a: \(4(5-2x)^{-3}\)
    - n: 3.6.230
      a: \(-3\pi\cos^2(\pi x)\sin(\pi x)\)
    - n: 3.6.231
      a: \(3(2x^3-x^2+6x+1)^2(6x^2-2x+6)\)
    - n: 3.6.232
      a: \(-2(\sin(x))^{-3}\cos(x)\)
    - n: 3.6.238
      a: \(f(1)=\frac{5}{4}\)
    - n: 3.6.239
      a: \(f'(-1)=\frac{43}{4}\)
    - n: 3.6.253(a)
      a: \(\approx0.5831m/s\)
    - n: 3.6.253(b)
      a: \(\approx0.2499m/s^2\)
    - n: 3.6.253(c)
      a: It's slowing down (think about the relationship between the sign of the first and second derivatives)
    - n: 3.6.255(a)
      a: \(C'(x)=0.0003x^2-0.04x+3\)
    - n: 3.6.255(b)
      a: \(\frac{dC}{dt}=0.03(1600+100t)^2-4(1600+100t)+300\)
    - n: 3.6.255(c)
      a: $90,300/week
    - n: 3.7.281
      a: \(\frac{-x^{-2}}{\left|\frac{1}{x}\right|\sqrt{\left(\frac{1}{x}\right)^2-1}}=\frac{-1}{\sqrt{1-x^2}}\)

---

  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

<style>
	.answer {
		display: none;
	}

	.answer.shown {
		display: block;
	}

	button.hidden {
		display: none;
	}


	li {
		margin-bottom: 5px;
	}

	button:hover {
		cursor: pointer;
	}

	ul {
		list-style: none;
	}
</style>

Below, you can check your homework answers <b>after you have attempted the problem yourself</b>. Of course, your submission should include a <b>full explanation</b> and not just the final answer. The purpose of this page is only to give you feedback as quickly as possible to see if you need to review your work or see me or QUAILs at student hours or CLEAR tutoring sessions. The buttons will ask you to click twice to confirm you want to show the answer.

{% for hw in page.hws %}
<h3>Problem Set {{hw.name}}</h3>
<ul>
	{% for prob in hw.problems %}
		<li>
			<b>{{prob.n}}:</b> <button>Show Answer</button>
			<span class="answer">{{prob.a}}</span>
		</li>
	{% endfor %}
</ul>
{% endfor %}

<script>
	var buttons = document.getElementsByTagName("button");

	for (var i = 0; i < buttons.length; i++) {
		buttons[i].onclick = function () {
			if (this.classList.contains("activated")) {
				this.classList.add("hidden");
				this.parentElement.getElementsByTagName("span")[0].classList.add("shown");
			} else {
				this.classList.add("activated");
				this.innerHTML += " <b>(Click again if you promise you tried it first)</b>";
			}
		}
	}
</script>