{% assign tags = "Interactive,Other" | split: "," %}

{% for tag in tags %}
	{% assign posts = site.gallery | where: "tag", tag %}

	<!-- <div class="{%if page.title == ""%}mini{%endif%} gallery header {{tag}}"><p>{{tag}}</p></div> -->

	{% for post in posts %}
		<div class="{%if page.title == ""%}mini{%endif%} gallery">
		  <a href="{%if post.external != nil %} {{ post.external }} {%else%} {{ post.url }} {%endif%}" class="image">
		    <img src="{{ site.domain }}/assets/images/thumbnails/{{ post.thumbnail }}" alt="{{ post.thumbnail_alt }}" width="600" height="400">
		  </a>
		  <div class="desc">{{ post.blurb }}</div>
		</div>
	{% endfor %}
{% endfor %}