<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <title>{% if page.title!="" %} {{ page.title }} &mdash; {%endif%}{{site.title}}</title>
    <link rel="stylesheet" href="{{site.domain}}/assets/style.css" />
</head>
<body>
    <header>       
        {% include navigation.html %}
        <h1><a href="{{site.url}}/">{{site.title}}</a></h1>
    </header>
    <div id="portrait">
        <picture>
          <source media="(min-width: 768px)" srcset="{{ site.domain}}/assets/images/{{page.portrait}}" />
          <img src="{{ site.domain}}/assets/images/{{page.portrait_mobile}}" alt="{{page.portrait_alt}}" />
        </picture>

        {% assign caption = page.portrait_caption %}
        {% assign linkified_content = content %}
        {% assign names = site.data.people.names | split: "," %}

        {% for name in names %}
            {% assign key = "[x]" | replace : "x", name %}
            {% assign caption = caption | replace: key,  site.data.people[name].url %}
            {% assign linkified_content = linkified_content | replace: key,  site.data.people[name].url %}
        {% endfor %}

            <span>{{caption}}</span>
    </div>
    {%if page.title != ""%}<h2>{{ page.title }}</h2>{%endif%}
    <div id="content">
        {{linkified_content}}
    </div>
</body>
</html>


